# Environment variables - JANGAN PUSH!
.env
.env.local
.env.*.local
backend/.env
frontend/.env

# Node modules
node_modules/
npm-debug.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/